/* .sunny{
    color:dodgerblue;
}
.index{
    color: brown;
}
.next{
    color: darkturquoise;
} */

.color1{
    color: blueviolet;
}
.color2{
    color: rgb(226, 43, 119);
}
/* h1{
    color: blueviolet;
} */